html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.loader{
  display:none;
}


#camera, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#camera--view, #camera--sensor, #camera--output{
    transform: scaleX(-1);
    /*filter: FlipH;*/
}
#camera--trigger{
    width: 200px;
    background-color: black;
    color: white;
    font-size: 30px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    position: fixed;
    bottom: 30px;
    left: calc(50% - 100px);
}
/*.taken{
    height: 100%!important;
    width: 100%!important;
    transition: all 0.5s ease-in;
    /*top: 20px;
    right: 20px;*/
    /*z-index: 2;*/
}
.overlay{
 position: fixed; /* Sit on top of the page content */
 /*display: none; /* Hidden by default */
 width: 100%; /* Full width (cover the whole page) */
 height: 100%; /* Full height (cover the whole page) */
filter: grayscale();
 z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
}
